*{
    /* width: 100vw;
    height: 100vh; */
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: green;
    height: 90px;
    width: 100%;
}

.audio {
    color: black;
    width: 400px;
}

.myCanvas{
    border: 1px solid  #87CEEB; 
    position: relative;
    top: 205px;
    right: 382px;
}


div.mycontainer {
    width:100%;
    overflow:auto;
  }

div.mycontainer div{
    width:50%;  
    float:left;
}

.section_container{
    background-color: rgba(0, 0, 0, 0.3);
    
}

.aside_container{
    background-color: #4682B4;
}

.footer{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 87px;
  
}
.footer h1{
    position: relative;
    font-weight: 600;
    text-align: center;
}

